<!DOCTYPE html>
  <head>
    <title>Job Scrapper</title>
      <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  </head>
  <body>
    <main>
      <header><h1>Remote Jobs</h1></header>
      <form method="GET" action="/search">
        <h4>Search by term:</h4>
        <input name="term" placeholder="i.e python">
        <input type="submit" value="Find my job" style="background-color: blue; color: white; border-radius: 5px; height: 40px;">
      </form>
    </main>
  </body>
</html>